{% extends 'base.html' %}

{% block content %}

<h1>Here's Your Records</h1>

<div class="records">
{% for record in object_list %}

    <div class="card">
        <a href="{% url 'records_detail' record.id %}">
            <div class="card-content">
                <span class="card-title">{{ record.name }}</span>
                <p>Artist: {{ record.artist }}</p>
                <p>Record Label: {{ record.record_label }}</p>
                <p>Release Date: {{ record.release_date }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}