.nav-wrapper {
    background-color: black;
    color: white;
}

body {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.records {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 30vw;
}

.page-footer {
    background-color: black !important;
    width: 100vw !important;
    /* padding-right: 0; */
}